@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color scheme */
  --pink1: #f6cde2;
  --pink2: #d2a9be;
  --violet: #b67295;
  --green1: #a0d4a6;
  --green2: #709874;

  --black: #1c211f;
  --white: #fff;
  --grey: #595959;

  --font: sans-serif;

  --navbar-height: 80px;
  --skill-content-max-height: 600px;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: calc(100vh - var(--navbar-height));
  font-family: var(--font);
  /* overflow: hidden; */
}

button {
  font-family: 'Roboto', sans-serif;
}

.page {
  margin-top: var(--navbar-height);
}

.section {
  /* min-height: calc(100vh - var(--navbar-height)); */
  margin-top: var(--navbar-height);
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.page {
  margin-top: var(--navbar-height);
}

.section {
}
