*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color scheme */
  --pink1: #f6cde2;
  --pink2: #d2a9be;
  --violet: #b67295;
  --green1: #a0d4a6;
  --green2: #709874;

  --black: #1c211f;
  --white: #fff;
  --grey: #434343;

  --font: sans-serif;

  --navbar-height: 80px;
  --skill-content-max-height: 600px;
}

html, body {
  font-family: var(--font);
  margin: 0;
  padding: 0;
  min-height: calc(100vh - var(--navbar-height));
  /* overflow: hidden; */
}


.section {
  /* min-height: calc(100vh - var(--navbar-height)); */
  margin-top: var(--navbar-height);
  display: flex;
  justify-content: center;
  padding: 3rem;
}